.cards {
    position: relative;
    width: 220px;
    height: 200px;
    overflow: hidden;
    border-radius: 8px;
    background: rgb(60, 30, 80);
}
.cards span {
    padding: 16px;
    position: absolute;
    color: var(--text-base-light);
    font-size: 24px;
    font-weight: 700;
}

.cards img {
    position: absolute;
    right: 0;
    bottom: 0;
    height: auto;
    width: 107px;
    transform: rotate(25deg) translate(18%, -2%);
}